<h1>Data Science Tools and Ecosystem</h1>

## In this notebook, Data Science Tools and Ecosystem are Summarised

### Objectives:
- List popular languages for Data Science
- List commonly used libraries used by DataScientists
- Tabulate Some Data Science Tools
- Provide Examples for evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Sci-py

| DataScience Tools |
| :---------------: |
| Jupyter Notebook |
| R-Studio |
| IBM WatSon Studio |   |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [22]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [24]:
#This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335